<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="navbar-container"><%- include('../partials/header') %></div>
    <div class="dashboard-container">
      <% let accType; %>
      <h1>Dashboard</h1>
      <p>Welcome, <%= user.username %></p>
      <p>
        Account Type: <%= user.isAdmin ? accType = "Admin" : accType="Reg" %>
      </p>
      <div>
        <% const currentUserID = user._id %>
        <h4>List Of Users</h4>
        <% users.map(user => { %>
        <p><%= user.email %></p>

        <!-- if the current user is admin show buttons for all users -->
        <% if(accType === "Admin") {%>

        <button>Edit</button>
        <button>Delete</button>

        <!-- if the current user id matches the user id in the database show buttons for that specific user -->
        <% } else if (currentUserID == user.id) { %>

        <button><a href="/api/user/edit">Edit</a></button>
        <button>Delete</button>

        <% } else { %> <% return %> <% } %> <% }) %>
      </div>
    </div>

    <button><a href="/api/user/logout">Logout</a></button>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
