<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <div><%- include("../partials/head") %></div>
    <form>
      <div class="username error"></div>
      <input
        type="text"
        name="username"
        placeholder="username"
        value="<%= user.username %>"
      />
      <div class="email error"></div>
      <input
        type="text"
        name="email"
        placeholder="email"
        value="<%= user.email %>"
      />
      <div class="password error"></div>
      <input
        id="password"
        type="password"
        name="password"
        placeholder="password"
      />
      <div>
        Is Admin?
        <input
          type="checkbox"
          name="adminCheckbox"
          id="checkbox"
          value="false"
        />
      </div>
      <button type="submit">Create Account</button>
    </form>

    <%- include("../partials/footer") %>
  </body>
</html>
